[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "HDBRR"]
	path = HDBRR
	url = https://github.com/cran/HDBRR
[submodule "MDCcure"]
	path = MDCcure
	url = https://github.com/castlemon/mdccure
